
<% if @friendships.size > 0 %>
	<h1 class="page-header text-center">My Friends</h1>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @friendships.each do |friend| %>
			<tr>
				<td><%= friend.name %></td>
				<td><%= friend.email %></td>
				<td><%= link_to "View profile", friend %></td>
				<td><%= link_to "Delete friend", my_friends_path(:user2 => friend.id),:method => :delete,data: { confirm: 'Do you really want to remove this friend?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	
	<div class="row col-lg-12">
		<p class="lead">You don't have any friends yet. Please add some!</p>
	</div>
<% end %>