<% if @requests.size > 0 %>
	<h1 class="text-center page-header">My Pending requests</h1>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th colspan="2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @requests.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= link_to "Accept", pending_requests_path(:user2 => user.id),:method => :post %></td>
				<td><%= link_to "Decline", pending_requests_path(:user2 => user.id),:method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="row col-lg-12">
		<p class="lead">You don't have any friend request</p>
	</div>
<% end %>